.announcement-wrapper {
  display: contents;
}
 
.announcement-announcement {
  gap: var(--dl-layout-space-halfunit);
  flex: 1;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 16px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: center;
  background-color: #375EE0;
}
 
.announcement-announcement:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
 
.announcement-button {
  gap: var(--dl-layout-space-halfunit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  border-color: #2b2b2b;
  flex-direction: row;
  padding-bottom: 4px;
  border-bottom-width: 1px;
}
 
.announcementroot-class-name1 {
  flex: 0 0 auto;
  width: 100%;
}
 
.announcementroot-class-name {
  flex: 0 0 auto;
  width: 100%;
  background-color: #2b2b2b;
}
 
@media(max-width: 479px) {
  .announcement-announcement {
    align-items: center;
    flex-direction: column;
  }
}

.navbar-wrapper {
  display: contents;
}
 
.navbar-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1200px;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.navbar-desktop {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-main {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar-branding {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar-links1 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-top: 12px;
  border-radius: 6px;
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: center;
}
 
.navbar-quick-actions {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar-hamburger-menu {
  width: 20px;
  height: 12px;
  display: none;
}
 
.navbar-mobile {
  gap: var(--dl-layout-space-fourunits);
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: var(--dl-layout-space-threeunits);
  z-index: 200;
  position: fixed;
  transform: translateX(100%);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
 
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-image {
  width: 150px;
  object-fit: cover;
}
 
.navbar-icon1 {
  width: 28px;
  height: 28px;
}
 
.navbar-links2 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.navbar-navlink1 {
  text-decoration: none;
}
 
.navbar-navlink2 {
  text-decoration: none;
}
 
.navbar-navlink3 {
  text-decoration: none;
}
 
.navbar-navlink4 {
  text-decoration: none;
}
 
.navbar-buttons {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
}
 
.navbar-navlink5 {
  display: contents;
}
 
.navbar-btn1 {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #ADE2DF;
}
 
.navbar-text1 {
  font-style: normal;
  font-weight: 500;
}
 
.navbar-navlink6 {
  display: contents;
}
 
.navbar-btn2 {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #ADE2DF;
}
 
.navbar-text2 {
  font-style: normal;
  font-weight: 500;
}
 
.navbar-container2 {
  display: contents;
}
 

 
@media(max-width: 991px) {
  .navbar-navbar {
    align-items: center;
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .navbar-links1 {
    display: none;
  }
  .navbar-hamburger-menu {
    display: flex;
  }
}
 
@media(max-width: 767px) {
  .navbar-navbar {
    align-items: center;
  }
  .navbar-mobile {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
}

.highlight-wrapper {
  display: contents;
}
 
.highlight-highlight {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.highlight-wrapper-aojb {
  display: contents;
}
 
.highlight-highlight1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.highlight-wrapper-lys6 {
  display: contents;
}
 
.highlight-highlight2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.highlight-wrapper-tlo9 {
  display: contents;
}
 
.highlight-highlight3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.feature-wrapper {
  display: contents;
}
 
.feature-feature {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  max-width: 240px;
  transition: 0.3s;
  align-items: flex-start;
  user-select: none;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
 
.feature-feature:hover {
  border-color: #ade2df;
}
 
.feature-image {
  height: 32px;
  object-fit: cover;
}
 
.feature-content {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.feature-title {
  font-size: 20px;
}
 
.feature-description {
  font-family: "Poppins";
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text50 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .feature-feature {
    gap: var(--dl-layout-space-oneandhalfunits);
    max-width: 100%;
  }
  .feature-content {
    gap: var(--dl-layout-space-halfunit);
  }
  .feature-title {
    font-size: 18px;
    line-height: 27px;
  }
  .feature-description {
    line-height: 24px;
  }
}
 
@media(max-width: 479px) {
  .feature-feature {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.feature-wrapper-y0no {
  display: contents;
}
 
.feature-feature1 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  max-width: 240px;
  transition: 0.3s;
  align-items: flex-start;
  user-select: none;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
 
.feature-feature1:hover {
  border-color: #ade2df;
}
 
.feature-image1 {
  height: 32px;
  object-fit: cover;
}
 
.feature-content1 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.feature-title1 {
  font-size: 20px;
}
 
.feature-description1 {
  font-family: "Poppins";
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text55 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .feature-feature1 {
    gap: var(--dl-layout-space-oneandhalfunits);
    max-width: 100%;
  }
  .feature-content1 {
    gap: var(--dl-layout-space-halfunit);
  }
  .feature-title1 {
    font-size: 18px;
    line-height: 27px;
  }
  .feature-description1 {
    line-height: 24px;
  }
}
 
@media(max-width: 479px) {
  .feature-feature1 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.feature-wrapper-t8zt {
  display: contents;
}
 
.feature-feature2 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  max-width: 240px;
  transition: 0.3s;
  align-items: flex-start;
  user-select: none;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
 
.feature-feature2:hover {
  border-color: #ade2df;
}
 
.feature-image2 {
  height: 32px;
  object-fit: cover;
}
 
.feature-content2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.feature-title2 {
  font-size: 20px;
}
 
.feature-description2 {
  font-family: "Poppins";
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text56 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .feature-feature2 {
    gap: var(--dl-layout-space-oneandhalfunits);
    max-width: 100%;
  }
  .feature-content2 {
    gap: var(--dl-layout-space-halfunit);
  }
  .feature-title2 {
    font-size: 18px;
    line-height: 27px;
  }
  .feature-description2 {
    line-height: 24px;
  }
}
 
@media(max-width: 479px) {
  .feature-feature2 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.social-wrapper {
  display: contents;
}
 
.social-social {
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(236, 233, 234, 0.2);
}
 
.social-social:hover {
  background-color: rgba(236, 233, 234, 0.6);
}
 
.social-insider {
  width: 18px;
  height: 18px;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text63 {
  display: inline-block;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text64 {
  display: inline-block;
}
 

 

 
@media(max-width: 767px) {
  .social-social {
    padding: 12px;
  }
}

.social-wrapper-bdix {
  display: contents;
}
 
.social-social1 {
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(236, 233, 234, 0.2);
}
 
.social-social1:hover {
  background-color: rgba(236, 233, 234, 0.6);
}
 
.social-insider1 {
  width: 18px;
  height: 18px;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text63 {
  display: inline-block;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text64 {
  display: inline-block;
}
 

 

 
@media(max-width: 767px) {
  .social-social1 {
    padding: 12px;
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-footer {
  gap: var(--dl-layout-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 37px;
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  padding-bottom: 37px;
  background-color: #000000;
}
 
.footer-image {
  width: 83px;
  height: 99px;
  align-self: flex-start;
  object-fit: cover;
}
 
.footer-text1 {
  align-self: flex-start;
}
 
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-information {
  gap: var(--dl-layout-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer-heading {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.footer-text2 {
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
}
 
.footer-socials {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.footer-links {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  z-index: 15;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.footer-column1 {
  gap: var(--dl-layout-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.footer-column2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.footer-header {
  line-height: 30px;
}
 
.footer-link1 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
 
.footer-link1:hover {
  color: rgba(196, 196, 196, 0.5);
}
 
.footer-link2 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
 
.footer-link2:hover {
  color: rgba(196, 196, 196, 0.5);
}
 
.footer-link3 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
 
.footer-link3:hover {
  color: rgba(196, 196, 196, 0.5);
}
 
.footer-text3 {
  color: rgb(196, 196, 196);
  width: 100%;
  font-size: 14px;
  max-width: 1200px;
  line-height: 21px;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text63 {
  display: inline-block;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text64 {
  display: inline-block;
}
 
.footerroot-class-name {
  color: #ffffff;
  background-color: #000000;
}
 
@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-threeunits);
    padding-right: var(--dl-layout-space-threeunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
}
 
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-layout-space-twounits);
  }
  .footer-content {
    gap: var(--dl-layout-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-information {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .footer-heading {
    gap: var(--dl-layout-space-halfunit);
  }
  .footer-text2 {
    font-size: 12px;
    line-height: 18px;
  }
  .footer-socials {
    gap: var(--dl-layout-space-halfunit);
  }
  .footer-links {
    gap: var(--dl-layout-space-oneandhalfunits);
    width: 100%;
    flex-direction: column;
  }
  .footer-header {
    font-size: 16px;
    line-height: 24px;
  }
}
 
@media(max-width: 479px) {
  .footer-links {
    width: 100%;
    flex-direction: column;
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
 
.home-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-heading1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.home-notification {
  width: 100%;
}
 
.home-component10 {
  text-decoration: none;
}
 
.home-content10 {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1200px;
  align-items: center;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  justify-content: center;
}
 
.home-images {
  gap: var(--dl-layout-space-oneandhalfunits);
  right: -210px;
  bottom: -300px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  transform: rotate(-30deg);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-column1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-column2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-column3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-pasted-image1 {
  width: 240px;
}
 
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 76px;
  flex-direction: column;
}
 
.home-image1 {
  width: 200px;
  height: 209px;
  object-fit: cover;
}
 
.home-content11 {
  gap: var(--dl-layout-space-oneandhalfunits);
  height: 264px;
  display: flex;
  z-index: 20;
  align-self: center;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-layout-space-sixunits);
  flex-direction: column;
  padding-bottom: 165px;
  justify-content: center;
}
 
.home-title {
  width: 904px;
  font-size: 35px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 76px;
}
 
.home-caption1 {
  font-size: 11px;
  align-self: center;
  margin-top: -35px;
  text-align: center;
}
 
.home-ios-btn1 {
  gap: var(--dl-layout-space-halfunit);
  fill: white;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  margin-top: var(--dl-layout-space-oneandhalfunits);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-twounits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: center;
  background-color: #2b2b2b;
}
 
.home-ios-btn1:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
 
.home-caption2 {
  font-family: "Poppins";
}
 
.home-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.home-hero-buttons1 {
  gap: var(--dl-layout-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  z-index: 15;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-video {
  color: white;
  width: 100%;
  display: flex;
  z-index: 10;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-sixunits);
  background-color: #000000;
}
 
.home-content12 {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
}
 
.home-header1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text12 {
  width: 327px;
  font-size: 40px;
  align-self: center;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
}
 
.home-video-container {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-heading-container {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-heading2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text13 {
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 36px;
}
 
.home-text17 {
  color: rgb(234, 234, 234);
  width: 600px;
  font-size: 15px;
  font-family: "Poppins";
  line-height: 24px;
}
 
.home-explore1 {
  color: #fff;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-color: #ffffff;
  border-width: 0px;
  flex-direction: column;
  padding-bottom: 4px;
  border-bottom-width: 1px;
}
 
.home-explore1:hover {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.3);
}
 
.home-sections {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
}
 
.home-section1 {
  gap: var(--dl-layout-space-sixunits);
  width: 100%;
  display: flex;
  z-index: 10;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  flex-direction: row;
  justify-content: center;
}
 
.home-image2 {
  width: 400px;
  height: 540px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  background-size: contain;
  justify-content: flex-end;
  background-image: url("public/group%201277.svg");
  background-repeat: no-repeat;
  background-position: center;
}
 
.home-image-highlight {
  top: 0px;
  right: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: center;
  background-color: #375EE0;
}
 
.home-text18 {
  color: rgb(193, 255, 252);
  width: 100%;
  max-width: 90px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
}
 
.home-content13 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-text21 {
  font-size: 35px;
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 56px;
}
 
.home-explore2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  transition: 0.3s;
  align-items: flex-start;
  border-width: 0px;
  flex-direction: column;
  padding-bottom: 4px;
  border-bottom-width: 1px;
}
 
.home-explore2:hover {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.3);
}
 
.home-section2 {
  gap: var(--dl-layout-space-sixunits);
  width: 100%;
  display: flex;
  z-index: 10;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  flex-direction: row;
  justify-content: center;
}
 
.home-content14 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-heading3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-text26 {
  width: 710px;
  font-size: 35px;
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 56px;
}
 
.home-text27 {
  font-size: 16px;
  max-width: 535px;
  font-family: Poppins;
  line-height: 27px;
}
 
.home-content15 {
  gap: var(--dl-layout-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-image3 {
  width: 370px;
  height: 600px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/group%201309.svg");
  background-repeat: no-repeat;
  background-position: center;
}
 
.home-section3 {
  gap: var(--dl-layout-space-sixunits);
  width: 100%;
  display: flex;
  z-index: 10;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-sixunits);
  justify-content: center;
}
 
.home-image4 {
  width: 400px;
  height: 590px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: center;
  background-image: url("public/group%201281.svg");
  background-repeat: no-repeat;
  background-position: center;
}
 
.home-image-overlay {
  right: 0px;
  width: 180px;
  bottom: 0px;
  height: 320px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: center;
  background-image: url("public/pastedimage-v31-1500h.png");
}
 
.home-content16 {
  gap: var(--dl-layout-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: flex-start;
  flex-direction: column;
}
 
.home-content17 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-text31 {
  font-size: 35px;
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 56px;
}
 
.home-explore3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  transition: 0.3s;
  align-items: flex-start;
  border-width: 0px;
  flex-direction: column;
  padding-bottom: 4px;
  border-bottom-width: 1px;
}
 
.home-explore3:hover {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.3);
}
 
.home-section4 {
  gap: var(--dl-layout-space-sixunits);
  width: 100%;
  display: flex;
  z-index: 10;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  flex-direction: row;
  justify-content: center;
}
 
.home-content18 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-heading4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-text36 {
  width: 710px;
  font-size: 32px;
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 56px;
}
 
.home-text37 {
  font-size: 16px;
  max-width: 535px;
  font-family: Poppins;
  line-height: 27px;
}
 
.home-content19 {
  gap: var(--dl-layout-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-image5 {
  width: 370px;
  height: 600px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/group%201309.svg");
  background-repeat: no-repeat;
  background-position: center;
}
 
.home-banner-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.home-banner {
  width: 100%;
  height: 360px;
  display: flex;
  overflow: hidden;
  max-width: 1200px;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  background-color: #375EE0;
}
 
.home-overlay {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: center;
  background-color: #000000;
}
 
.home-text41 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 35px;
  max-width: 490px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
}
 
.home-book-btn {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-twounits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: center;
  background-color: #ffffff;
}
 
.home-book-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
 
.home-text42 {
  color: #000000;
  width: 100%;
  max-width: 490px;
  font-style: normal;
  font-weight: 500;
}
 
.home-pasted-image2 {
  display: none;
}
 
.home-features {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-sixunits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-sixunits);
  justify-content: flex-start;
}
 
.home-header2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-tag {
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
  background-color: #D6F1F0;
}
 
.home-text43 {
  font-style: normal;
  font-weight: 500;
}
 
.home-heading5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-text44 {
  width: 625px;
  font-size: 40px;
  max-width: 1500px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
 
.home-text45 {
  font-size: 35px;
}
 
.home-text47 {
  width: 100%;
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
 
.home-feature-list {
  gap: var(--dl-layout-space-fourunits);
  width: 854px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text50 {
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text55 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text56 {
  display: inline-block;
}
 
.home-get-started {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  border-color: #636363;
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-sixunits);
  background-color: #000000;
}
 
.home-content20 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
}
 
.home-heading6 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-text60 {
  color: rgb(193, 255, 252);
  font-size: 64px;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
}
 
.home-text61 {
  color: #ffffff;
}
 
.home-hero-buttons2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  z-index: 15;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-ios-btn2 {
  gap: var(--dl-layout-space-halfunit);
  fill: white;
  color: white;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-twounits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: center;
  background-color: #ffffff;
}
 
.home-ios-btn2:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
 
.home-caption3 {
  color: #000000;
  font-family: "Poppins";
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text63 {
  display: inline-block;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text64 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .home-content10 {
    flex-direction: column;
  }
  .home-images {
    left: 0px;
    right: -100px;
    bottom: -325px;
    margin: auto;
  }
  .home-pasted-image1 {
    width: 200px;
  }
  .home-content11 {
    gap: var(--dl-layout-space-unit);
    flex: 0 0 auto;
    padding-top: var(--dl-layout-space-unit);
    padding-bottom: 0px;
  }
  .home-title {
    font-size: 50px;
    text-align: left;
    line-height: 58px;
  }
  .home-caption1 {
    font-size: 16px;
  }
  .home-ios-btn1 {
    flex: 1;
  }
  .home-hero-buttons1 {
    width: 100%;
  }
  .home-content12 {
    gap: var(--dl-layout-space-threeunits);
  }
  .home-section1 {
    gap: var(--dl-layout-space-oneandhalfunits);
    padding-top: var(--dl-layout-space-fourunits);
    flex-direction: column-reverse;
  }
  .home-content13 {
    gap: var(--dl-layout-space-unit);
  }
  .home-explore2 {
    margin-top: var(--dl-layout-space-halfunit);
  }
  .home-section2 {
    padding-top: var(--dl-layout-space-fourunits);
    border-color: #DBDBDB;
    flex-direction: column;
    border-top-width: 1px;
  }
  .home-content14 {
    gap: var(--dl-layout-space-unit);
  }
  .home-content15 {
    gap: var(--dl-layout-space-twounits);
  }
  .home-section3 {
    align-items: center;
    padding-top: var(--dl-layout-space-fourunits);
    border-color: #DBDBDB;
    flex-direction: column-reverse;
    padding-bottom: var(--dl-layout-space-fourunits);
    border-top-width: 1px;
  }
  .home-content16 {
    margin-top: 0px;
  }
  .home-content17 {
    gap: var(--dl-layout-space-unit);
  }
  .home-explore3 {
    margin-top: var(--dl-layout-space-halfunit);
  }
  .home-section4 {
    padding-top: var(--dl-layout-space-fourunits);
    border-color: #DBDBDB;
    flex-direction: column;
    border-top-width: 1px;
  }
  .home-content18 {
    gap: var(--dl-layout-space-unit);
  }
  .home-content19 {
    gap: var(--dl-layout-space-twounits);
  }
  .home-get-started {
    padding-top: var(--dl-layout-space-fourunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-content20 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-heading6 {
    gap: var(--dl-layout-space-halfunit);
  }
  .home-text60 {
    font-size: 40px;
  }
}
 
@media(max-width: 767px) {
  .home-images {
    bottom: -250px;
  }
  .home-title {
    font-size: 40px;
    line-height: 48px;
  }
  .home-caption1 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text12 {
    width: 100%;
    font-size: 32px;
    max-width: 640px;
  }
  .home-video-container {
    gap: var(--dl-layout-space-threeunits);
  }
  .home-heading2 {
    gap: var(--dl-layout-space-halfunit);
  }
  .home-text13 {
    font-size: 20px;
    line-height: 30px;
  }
  .home-text17 {
    width: 100%;
    max-width: 600px;
  }
  .home-text21 {
    font-size: 32px;
    line-height: 44px;
  }
  .home-text26 {
    font-size: 32px;
    line-height: 44px;
  }
  .home-text27 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-section3 {
    gap: var(--dl-layout-space-twounits);
  }
  .home-text31 {
    font-size: 32px;
    line-height: 44px;
  }
  .home-text36 {
    font-size: 32px;
    line-height: 44px;
  }
  .home-text37 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-banner {
    height: 520px;
    position: relative;
  }
  .home-overlay {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex: 1;
    z-index: 50;
    padding-top: var(--dl-layout-space-threeunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-layout-space-threeunits);
    justify-content: flex-start;
    background-image: none;
  }
  .home-text41 {
    font-size: 32px;
  }
  .home-pasted-image2 {
    right: 0px;
    bottom: 0px;
    height: 300px;
    display: flex;
    position: absolute;
    align-self: flex-end;
  }
  .home-features {
    gap: var(--dl-layout-space-threeunits);
  }
  .home-header2 {
    gap: var(--dl-layout-space-unit);
  }
  .home-text43 {
    font-size: 14px;
  }
  .home-text44 {
    font-size: 32px;
    line-height: 44px;
  }
  .home-text47 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-feature-list {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: column;
  }
  .home-get-started {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .home-images {
    bottom: -300px;
  }
  .home-pasted-image1 {
    width: 150px;
  }
  .home-ios-btn1 {
    width: 100%;
  }
  .home-hero-buttons1 {
    width: 100%;
    flex-direction: column;
  }
  .home-image2 {
    width: 100%;
    max-width: 400px;
  }
  .home-image4 {
    width: 100%;
    max-width: 400px;
  }
  .home-pasted-image2 {
    height: 225px;
  }
  .home-hero-buttons2 {
    width: 100%;
    flex-direction: column;
  }
  .home-ios-btn2 {
    width: 100%;
  }
}
