.announcement-announcement {
  gap: var(--dl-layout-space-halfunit);
  flex: 1;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 16px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: center;
  background-color: #375EE0;
}
 
.announcement-announcement:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
 
.announcement-button {
  gap: var(--dl-layout-space-halfunit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  border-color: #2b2b2b;
  flex-direction: row;
  padding-bottom: 4px;
  border-bottom-width: 1px;
}
 
.announcementroot-class-name1 {
  flex: 0 0 auto;
  width: 100%;
}
 
.announcementroot-class-name {
  flex: 0 0 auto;
  width: 100%;
  background-color: #2b2b2b;
}
 
@media(max-width: 479px) {
  .announcement-announcement {
    align-items: center;
    flex-direction: column;
  }
}
