.social-wrapper {
  display: contents;
}
 
.social-social {
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(236, 233, 234, 0.2);
}
 
.social-social:hover {
  background-color: rgba(236, 233, 234, 0.6);
}
 
.social-insider {
  width: 18px;
  height: 18px;
}
 
.footer-fragment1 {
  display: contents;
}
 
.footer-text4 {
  display: inline-block;
}
 
.footer-fragment2 {
  display: contents;
}
 
.footer-text5 {
  display: inline-block;
}
 

 

 
@media(max-width: 767px) {
  .social-social {
    padding: 12px;
  }
}

.social-wrapper-93hr {
  display: contents;
}
 
.social-social1 {
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(236, 233, 234, 0.2);
}
 
.social-social1:hover {
  background-color: rgba(236, 233, 234, 0.6);
}
 
.social-insider1 {
  width: 18px;
  height: 18px;
}
 
.footer-fragment1 {
  display: contents;
}
 
.footer-text4 {
  display: inline-block;
}
 
.footer-fragment2 {
  display: contents;
}
 
.footer-text5 {
  display: inline-block;
}
 

 

 
@media(max-width: 767px) {
  .social-social1 {
    padding: 12px;
  }
}

.footer-footer {
  gap: var(--dl-layout-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 37px;
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  padding-bottom: 37px;
  background-color: #000000;
}
 
.footer-image {
  width: 83px;
  height: 99px;
  align-self: flex-start;
  object-fit: cover;
}
 
.footer-text1 {
  align-self: flex-start;
}
 
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-information {
  gap: var(--dl-layout-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer-heading {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.footer-text2 {
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
}
 
.footer-socials {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.footer-links {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  z-index: 15;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.footer-column1 {
  gap: var(--dl-layout-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.footer-column2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.footer-header {
  line-height: 30px;
}
 
.footer-link1 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
 
.footer-link1:hover {
  color: rgba(196, 196, 196, 0.5);
}
 
.footer-link2 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
 
.footer-link2:hover {
  color: rgba(196, 196, 196, 0.5);
}
 
.footer-link3 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
 
.footer-link3:hover {
  color: rgba(196, 196, 196, 0.5);
}
 
.footer-text3 {
  color: rgb(196, 196, 196);
  width: 100%;
  font-size: 14px;
  max-width: 1200px;
  line-height: 21px;
}
 
.footer-fragment1 {
  display: contents;
}
 
.footer-text4 {
  display: inline-block;
}
 
.footer-fragment2 {
  display: contents;
}
 
.footer-text5 {
  display: inline-block;
}
 
.footerroot-class-name {
  color: #ffffff;
  background-color: #000000;
}
 
@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-threeunits);
    padding-right: var(--dl-layout-space-threeunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
}
 
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-layout-space-twounits);
  }
  .footer-content {
    gap: var(--dl-layout-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-information {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .footer-heading {
    gap: var(--dl-layout-space-halfunit);
  }
  .footer-text2 {
    font-size: 12px;
    line-height: 18px;
  }
  .footer-socials {
    gap: var(--dl-layout-space-halfunit);
  }
  .footer-links {
    gap: var(--dl-layout-space-oneandhalfunits);
    width: 100%;
    flex-direction: column;
  }
  .footer-header {
    font-size: 16px;
    line-height: 24px;
  }
}
 
@media(max-width: 479px) {
  .footer-links {
    width: 100%;
    flex-direction: column;
  }
}
